* {
  font-family: 'Gloock', serif;
  font-size: 1.4vw;
  }

body {
  
}


  #pad{
  padding-right: 1vw;
  }
  h3{
    font-size: 3vw;
  }
  #pad2{
  padding-right: 0.2vw;
  }
  li{
  list-style-type: none;
  }
  /* Estilo para el encabezado */
  header {
  background-image: url('Imagenes/ventana.jpg');
  text-align: center;
  background-size: cover;
  height: 8vw;
  width: 100%;
  margin:0;
  padding: 0;
  
  
}

#ce{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 5%;
}
header h1{
  padding: auto;
  }
  .centrado{
  color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  
  }
  .color{
    background-color: #000000;
    width: 12vw;
    border-color: #000000;
    margin-top:-1vw;
  }
  .botonescontacto{
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  }
  .botonmail{
    width: 14vw;
    height: 3vw;
    color: #FFF;
    float: left;
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 1vw;
    background-color: rgb(14, 151, 44);
    transition: background-color 0.5s ease-in-out;
    }
    .botonmail:hover { /* El cursor esta encima del boton */
    background-color: rgb(19, 224, 139); /* El color cambia */
    cursor: pointer; /* El cursor cambia a una mano */
    transition: background-color 0.5s ease-in-out;
    }
    section {
    border-radius: 1vw;
    }
    
    .botonmail:active { /* El boton esta siendo presionado */
    background-color: purple; /* El color cambia */
    transition: background-color 0.5s ease-in-out;
    }
  .botonwhats{
  width: 14vw;
  height: 4.2vw;
  color: #FFF;
  float: left;
  margin-top: 1vw;
  margin-left: 1vw;
  border-radius: 1vw;
  background-color: rgb(14, 151, 44);
  transition: background-color 0.5s ease-in-out;
  }
  .botonwhats:hover { /* El cursor esta encima del boton */
  background-color: rgb(15, 216, 65); /* El color cambia */
  cursor: pointer; /* El cursor cambia a una mano */
  transition: background-color 0.5s ease-in-out;
  }

  
  .botonwhats:active { /* El boton esta siendo presionado */
  background-color: purple; /* El color cambia */
  transition: background-color 0.5s ease-in-out;
  }
  .tamaño{
  width: 23vw;
  }
  .DavidBarna{
  color: #FFF;
  margin-bottom: 14vw;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  }
  body {
  margin: 0;
  padding: 0;
  background-color: #333;
  }     
  /* Estilo para el título del encabezado */
  header h1 {
  color: white;
  font-size: 3vw;
  margin: 0;
  }
  
  /* Estilo para el menú de navegación */
  nav {
  background-color: #333;
  color: white;
  text-align: center;
  }
  
  /* Estilo para los enlaces del menú */
  nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  }
  
  /* Estilo para la sección de trabajos */
  #trabajos {
  background-color: rgb(24, 161, 9);
  
  }
  .trabajo{
      border: #FFF;
      border-radius: 1vw;
      background-color: #FFF;
      margin: 0.5vw;
      height: 22vw;
  }
  
  /* Estilo para las imágenes de los trabajos */
  #trabajos img {
  width: 100%;
  }
  img{
      border: #333;
      border-radius: 1vw;
  }
  /* Estilo para la sección de expectativa salarial */
  #expectativa-salarial {
  background-color: rgb(24, 161, 9);
  padding: 20px;
  }
  
  /* Estilo para la sección de servicios */
  #servicios {
  background-color: rgb(24, 161, 9);
  margin-top: 2vw;
  width: 90%;
     }
  #config{
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  /* Estilo para la sección de contactos */
  #contactos {
  background-color: rgb(24, 161, 9);
  }
  
  /* Estilo para los iconos de contacto */
  .contacto i {
  margin-right: 10px;
  }
  
  main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  section {
  width: 100%;
  text-align: center;
  padding: 1vw;
  height: 74vw;
  
  
    
  }
  section h2 {
  text-align: center;
  }
  
  section p {
  text-align: center;
  display: inline-block;
  }
  .TextoSeleccion{
  font-size: 12vw;
  }
  #trabajos {
  text-align: center;
  width: 90%;
  
  }
  
  #expectativa-salarial {
  text-align: center;
  }
  
  #servicios {
  text-align: center;
  }
  
  #contactos {
  text-align: center;
  }
  section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  }
  /* Estilos para los divs de trabajo */
  .trabajo {
  display: inline-block; /* Muestra los divs uno al lado del otro */
  width: 25%; /* Establece el ancho de cada div en un 25% del ancho total */
  padding: 2vw;
  }
  
  /* Estilos para las secciones de servicios */
  .servicio {
  display: flex; /* Muestra las secciones una al lado de la otra */
  width: 23%; /* Establece el ancho de cada sección en un 33% del ancho total */
  flex-direction: column;
  }
  .centrado{
  -webkit-text-stroke: 1.4px #000000;
  letter-spacing: 3px;
  }
  
  .DavidBarna{
  -webkit-text-stroke: 1.4px #000000;
  letter-spacing: 3px;
  
  
  }
  .fontt{
  font-size: 1.8vw;
  }
  .centrar_header {
  display: flex; /* Establece flexbox en el header */
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  justify-content: center; /* Alinea los elementos en el centro horizontalmente */
  /* Resto de las propiedades de tu header */ 
  font-size: 1vw;
  width: 100%;
  overflow-x: hidden 
  
  }
  
  .centrar_header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden
  }
  header{
  height: 30%;
  margin-bottom: 3vw;
  }
  .section-content {
      display: block;
    }

    
/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* Estilos para la sección "trabajos" */
section {
  display: block;
}
.image-container {
  position: relative;
  display: inline-block;
}
.botonmail2{
  width: 14vw;
  height: 3vw;
  color: #FFF;
  margin-top: 1vw;
  border-radius: 1vw;
  background-color: rgb(14, 151, 44);
  transition: background-color 0.5s ease-in-out;
}

.botonmail2:hover { /* El cursor esta encima del boton */
background-color: rgb(19, 224, 139); /* El color cambia */
cursor: pointer; /* El cursor cambia a una mano */
transition: background-color 0.5s ease-in-out;
}

.botonmail2:active { /* El boton esta siendo presionado */
background-color: purple; /* El color cambia */
transition: background-color 0.5s ease-in-out;
}
#servicios{
  height: 49vw;
}
#contactos{
  width:100%
}
.centrar{
  margin-right: 12vw;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.image-container:hover .overlay {
  height: 100%;
}

.overlay p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* aaaaaaaaaaaaa */

#servicios .config {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  height: 79vw;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 0;
  
  

}
.fondo{
  align-items: center;
  border-radius: 0%;
  z-index: -1;
  position: absolute;
}
.trabajo {
  width: 30%;
  margin: 1%;
}
main{
  width: auto;
  margin: 0;
}
.trabajo {
  width: calc(23.33% - 1vw); /* Restamos 1vw para dejar espacio entre los elementos */
  margin-right: 1vw;
  margin-bottom: 1vw;
  height: 33%;
}


#trabajos{
  height: 100vw;
}
#contactos{
  height: 40vw;
}
body {
  font-size: 14px;
  margin:0;
  padding:0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}
footer{
  align-self: flex-end;
  width: 100%;

}
 header img{
    border-radius: 0%;
    height:18vw;
  }
header{
 height:18vw; 
}

@media only screen and (max-width: 600px) {
  #trabajos{
  height: 100vw;
}
#contactos{
  height: 40vw;
}
body {
  font-size: 14px;
  margin:0;
  padding:0;
  display: flex;
  min-height: 160vh;
  flex-wrap: wrap;
}
footer{
  align-self: flex-end;
  width: 100%;

}


  header {
    background-image: url('Imagenes/ventana2.png');
    height: 15vw;
    width:100%;
    text-align: center;
    background-size: cover;
    border-radius: 1vw;
    padding-bottom:10vw;
    padding: 0;
  
  }
  .botonmail {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
